<app-hero></app-hero>

<div  class=" max-w-7xl mx-auto my-0 p-4">

  <ul class="grid md:grid-cols-2 lg:grid-cols-3 gap-8 ">
    <li *ngFor="let pokemon of pokemons" class="rounded-lg bg-brand-base-dark p-4">
      <h3 class="uppercase text-lg font-semibold">{{ pokemon.name }}</h3>
      <div class="flex justify-center items-center w-full h-32">
        <img [src]="pokemon.sprites.front_default" class="w-full h-full object-contain" alt="{{ pokemon.name }}">
      </div>

      <section class="flex justify-center items-center gap-1">
        <span class="rounded-full px-1 border text-xs capitalize" *ngFor="let type of pokemon.types">
          {{ type }}
        </span>
      </section>

      <div class="grid grid-cols-3 text-center my-3">

        <div class="flex items-center justify-center" >
          <p>
            {{ pokemon.height }} dm
          </p>
        </div>

        <div class="flex items-center justify-center border-x" >
          <p>{{ pokemon.weight }} hg</p>
        </div>

        <div>
          <div *ngFor="let ability of pokemon.abilities; let i = index">
            <span class="capitalize">{{ ability }}<span *ngIf="i < pokemon.abilities.length - 1">,</span></span>
          </div>
        </div>

        <p class="opacity-25 text-xs">Altura</p>
        <p class="border-x">
          <span class="opacity-25 text-xs" >Peso</span>
        </p>
        <p class="opacity-25 text-xs">Habilidades</p>


      </div>

      <!-- Grupos de huevos -->
      <p><strong>Huevos:</strong>
        <span *ngFor="let eggGroup of pokemon.eggGroups">
          {{ eggGroup }}
        </span>
      </p>

      <!-- Elementos -->
      <p *ngIf="pokemon.heldItems.length"><strong>Elementos:</strong>
        <span *ngFor="let item of pokemon.heldItems">
          {{ item }}
        </span>
      </p>

      <!-- Entradas de Pokédex -->
      <p><strong>Pokédex:</strong></p>
      <p class="line-clamp-1">
        {{ pokemon.pokedexEntries[0].flavor_text }}
      </p>
    </li>
  </ul>
</div>

<div *ngIf="isLoading">
  <p class=" animmate text-lg text-center animate-pulse" >Cargando Pokémons...</p>
</div>


<footer class="text-xs text-center p-4 opacity-60 mt-3" >
  Escrito por <a href="https://gustavoeliasexe.vercel.app/" target="_blank" class="hover:font-extrabold" rel="noopener noreferrer">gustavoeliaexe</a>
</footer>
